@import "tailwindcss";

.tag {
  padding: 6px 14px;
  font-size: 0.75rem;
  border-radius: 9999px;
  border-color: gray;
  border-width: 1px;
  background-color: #f3f4f6;
  color: #374151;
  transition: all 0.2s ease;
}

.tag:hover {
  background-color: #171717;
  color: #ffffff;
}

.tag.active {
  background-color: #171717;
  color: #ffffff;
}

.keyword {
  padding: 6px 14px;
  font-size: 0.75rem;
  border-radius: 9999px;
  border-color: #d8d9da;
  border-width: 0.5px;
  background-color: #f3f4f6;
  color: #374151;
}
